body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(61, 58, 59, 0.993);
 }

 header {
    background-color: black;
    color: white;
 }
 
 #ramen-menu img {
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
 }
 
 #ramen-detail img {
    width: 300px;
    height: 200px;
 }
 
 form {
    width: 300px;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(76, 199, 19);
    padding: 20px;
    border-radius: 10px;
 }
 
 input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
 }
 
 button {
    background-color: rgb(14, 13, 13);
    color: white;
    border: none;
    cursor: pointer;
 }
 
 button:hover {
    background-color: darkred;
 }
 
 #delete-btn {
    background-color: rgb(250, 120, 120);
    margin-top: 10px;
 }
 
 footer {
    text-align: center;
    padding: 10px;
    background-color: #050505;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
 }