body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#ramen-menu img {
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

#ramen-detail img {
    width: 300px;
    height: 200px;
}

form {
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}